    .terplugin_title { font-size:18px; font-weight: 400;; color: #353535; }
    .terplugin_text { font-size:16px; }
    .terplugin_noplan { font-size:14px; }
    .terplugin_title_dash { font-size:16px; font-weight: 400; color: #353535; }
    .terplugin_time_dash { font-size:12px; }
    .terplugin_published_version { font-size:14px; }